<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>x:x</key>
	<dict>
		<key>0</key>
		<string>x:x</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string> </string>
		<key>4</key>
		<string>-</string>
		<key>5</key>
		<string>Whoops! Try refreshing the Tour menu.</string>
		<key>6</key>
		<string>placeholder.png</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>headshot-placeholder</string>
		<key>9</key>
		<string>placeholder.png</string>
	</dict>
	<key>4144:10006</key>
	<dict>
		<key>0</key>
		<string>4144:10006</string>
		<key>1</key>
		<string>Holocaust</string>
		<key>2</key>
		<string>Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Doitsu A. Aguilar</string>
		<key>5</key>
		<string>My name is Doitsu A. Aguilar. Graphic Arts is a way to express yourself in a way that will create interest in the clients you want. You don&apos;t necessarily need to know how to draw in this field. You create something through technology. It&apos;s something I would love to do. Creating something that makes someone happy thanks to my artwork. That&apos;s the field I truly want to be in.</string>
		<key>6</key>
		<string>aguilar_d_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>headshot-placeholder</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10007</key>
	<dict>
		<key>0</key>
		<string>4144:10007</string>
		<key>1</key>
		<string>Optima</string>
		<key>2</key>
		<string>Illustrator</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Yaxsandra Barrera</string>
		<key>5</key>
		<string>My name is Yaxsandra Barrera. For the past four years, I have been a student in the Graphic Arts field. PCTI gave me the opportunity to learn very essential skills in Adobe Photoshop, Illustrator, and InDesign. With these skills, I am able to create designs to show the world. I hope to continue to expand my horizon and pursue my artistic dream.</string>
		<key>6</key>
		<string>barreraliranzo_y_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>barreraliranzo_y.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10008</key>
	<dict>
		<key>0</key>
		<string>4144:10008</string>
		<key>1</key>
		<string>Lone Survivor</string>
		<key>2</key>
		<string>Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Johnathan Campoverde</string>
		<key>5</key>
		<string>My nickname is &quot;Campy&quot; and I am proud of what I have created in my highschool career. I love to think outside of the box and make pieces that no one else has created. Although my future consists of becoming a sailor in the U.S. Navy, I look to pursue the Graphic Arts lifestyle in years to come. I try to portray a message in my artwork and I hope to inspire many people who take a look.</string>
		<key>6</key>
		<string>campoverde_j_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>campoverde_j.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10009</key>
	<dict>
		<key>0</key>
		<string>4144:10009</string>
		<key>1</key>
		<string>Genocide Awareness</string>
		<key>2</key>
		<string>Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Maurice Clancy</string>
		<key>5</key>
		<string>I&apos;m an 18 year old aspiring graphic designer/artist. I&apos;ve been a graphic artist for 4 years, I started freshman year of high school and instantly fell in love. Here&apos;s some of my work from throughout the years.</string>
		<key>6</key>
		<string>clancy_m_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>clancy_m.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10010</key>
	<dict>
		<key>0</key>
		<string>4144:10010</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Thomas Coldiron</string>
		<key>5</key>
		<string>For the past four years, I have been a student in the Graphic Design field. At first I didn&apos;t know anything about Graphic Arts but once I started learning it in high school it opened up my imagination to the different fields and career choices that you can have in this field. I hope to continue on and learn and understand more about Graphic Arts to futher my future career.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>coldiron_t.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10011</key>
	<dict>
		<key>0</key>
		<string>4144:10011</string>
		<key>1</key>
		<string>Movie Poster</string>
		<key>2</key>
		<string>Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Nasier Cox</string>
		<key>5</key>
		<string>Imagination, exploration, and creativity are the words that come to mind when talking about art. I am a four year student of the Graphic Design field. I was introduced to art at a very young age, when I was taking art classes in middle school. That&apos;s when I first picked up a pencil and paper, drawing my imagination. Graphic design has helped me explore my intellect and creativity.</string>
		<key>6</key>
		<string>cox_n_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>cox_n.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10012</key>
	<dict>
		<key>0</key>
		<string>4144:10012</string>
		<key>1</key>
		<string>Storm the Tower</string>
		<key>2</key>
		<string>Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Dylan Dixon</string>
		<key>5</key>
		<string>I have been practicing in the Graphic Arts field for a total of four years. I take pride in my work. Using the Graphic Arts design shop that Passaic County Technical Institute offered me, I made sure to make use of my time and utilize all of the skills that I have learned in Adobe Photoshop, Illustrator, and InDesign.</string>
		<key>6</key>
		<string>dixon_d_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>dixon_d.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10013</key>
	<dict>
		<key>0</key>
		<string>4144:10013</string>
		<key>1</key>
		<string>El Matador</string>
		<key>2</key>
		<string>Photoshop – Illustrator</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Donato Hernandez</string>
		<key>5</key>
		<string>Being a Graphic Design student in this school for four years has taught me a lot about how creative I can be. From learning the basics of Photoshop to making designs in Illustrator I am proud to say that I made a good choice coming to PCTI and using this opportunity. Even though I&apos;m enlisitng in the military, I would consider this as a career choice in the future.</string>
		<key>6</key>
		<string>hernandez_d_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>hernandez_d.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10014</key>
	<dict>
		<key>0</key>
		<string>4144:10014</string>
		<key>1</key>
		<string>Remember the Past, Change the Future</string>
		<key>2</key>
		<string>Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Cristal Martinez</string>
		<key>5</key>
		<string>For as long as I could remember, I&apos;ve always had a passion for art. For the past four years, I&apos;ve been working towards my goal of going to art school by taking Graphic Arts classes in school everyday. Although what I really want to be is a photgrapher, Graphic Arts has given me the opportunity to showcase my creativity and work ethic.</string>
		<key>6</key>
		<string>martinez_c_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>headshot-placeholder</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10015</key>
	<dict>
		<key>0</key>
		<string>4144:10015</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Justin Miller</string>
		<key>5</key>
		<string>My name is Justin Miller. Here is a display of some of the work I have created over the span of my four years learning of graphic design. I would go on to use graphics in a way to portray a business image, to show my business side of thinking. I hope you enjoy the time and effort I put into my artwork.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>miller_j.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10016</key>
	<dict>
		<key>0</key>
		<string>4144:10016</string>
		<key>1</key>
		<string>Thinking Too Hard</string>
		<key>2</key>
		<string>Illustrator</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Ronny Montilla</string>
		<key>5</key>
		<string>My name is Ronny Montilla. I first wanted to become an Graphic Artist during my freshman year of high school but decided to pursue a career in science. I still like the aspects of Graphic Design. To me, it provides a way to test my creative ideas. I would like to take the skills and experiences from Graphic Arts and use it as an alternative for a job, just in case.</string>
		<key>6</key>
		<string>montilla_r_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>montilla_r.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10017</key>
	<dict>
		<key>0</key>
		<string>4144:10017</string>
		<key>1</key>
		<string>Dojo</string>
		<key>2</key>
		<string>Illustrator – Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Shantayah Murray</string>
		<key>5</key>
		<string>I have been a student of Graphic Design for the past four years. I&apos;ve acquired a lot of knowledge that I can utilize to inspire people. Although I can&apos;t say for sure that I will pursue graphic arts as a career, the things I&apos;ve learned will aid me in the art of my choice. PCTI&apos;s Grade-A training has led me on a path to success.</string>
		<key>6</key>
		<string>murray_s_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>murray_s.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10018</key>
	<dict>
		<key>0</key>
		<string>4144:10018</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Javier Ortega</string>
		<key>5</key>
		<string>My name is Javier Ortega. I am a student at PCTI studying Graphic Arts. My dream is that I would become an amazing artist. I have a great love for art. PCTI has already provided me with quality training in Adobe programs such as Photoshop, Illustrator, and InDesign that I will use for my future as a graphic artist. Hopefully, my art will be able to inspire people to spark an interest in Graphic Arts.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>headshot-placeholder</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10019</key>
	<dict>
		<key>0</key>
		<string>4144:10019</string>
		<key>1</key>
		<string>Humanity</string>
		<key>2</key>
		<string>Illustrator – Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Nikita Pace</string>
		<key>5</key>
		<string>From when I could remember I have always loved art, from the way it looked to me and what it expressed within it. It always intrigued me how people could do such beautiful artwork. When I do my own art, I put a piece of myself in it and put my all so that I can show what skills I have. One day I want to be able to do this professionally as a career. PCTI has given me many skills.</string>
		<key>6</key>
		<string>pace_n_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>pace_n.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10020</key>
	<dict>
		<key>0</key>
		<string>4144:10020</string>
		<key>1</key>
		<string>Clothing Tag</string>
		<key>2</key>
		<string>Photoshop – Sketch Pad</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Devin Savoie</string>
		<key>5</key>
		<string>I have been a student at PCTI in the Graphic Arts shop for 4 years and have experienced many different varieties of projects. I personally enjoy listening to rap music, playing video games, both for leisure and competitively, and hanging out with friends. While I am not sure if Graphic Arts is the field for me, I am always open to the possibility.</string>
		<key>6</key>
		<string>savoie_d_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>savoie_d.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10021</key>
	<dict>
		<key>0</key>
		<string>4144:10021</string>
		<key>1</key>
		<string>Something is Missing</string>
		<key>2</key>
		<string>Illustrator</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Catlyn Smith</string>
		<key>5</key>
		<string>A few years ago, I developed an interest in art. Coming into high school, I was able to finally begin my journey in art. Art to me is like a platform to express yourself through different pieces. I plan to continue Graphic Design in college. Hopefully my work will advance with me so I can possibly find a career in this field.</string>
		<key>6</key>
		<string>smith_c_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>smith_c.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10022</key>
	<dict>
		<key>0</key>
		<string>4144:10022</string>
		<key>1</key>
		<string>Clothing Tag</string>
		<key>2</key>
		<string>Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Jarryn Solis</string>
		<key>5</key>
		<string>I have been a student attending the Graphic Design field in my years at PCTI. At my time here in this course, I have trained my skills at Adobe programs such as Photoshop, Illustrator, and InDesign. I am aspiring to become a brilliant artist, capable of producing work that will not only captivate consumers, but inspire them as well.</string>
		<key>6</key>
		<string>solis_j_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>solis_j.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10023</key>
	<dict>
		<key>0</key>
		<string>4144:10023</string>
		<key>1</key>
		<string>Garamond</string>
		<key>2</key>
		<string>Illustrator – Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Shaivona Williams</string>
		<key>5</key>
		<string>Hey! I&apos;m Shai and I study Graphic Arts. I really enjoy the field I&apos;m working in because it allows me to express my creativity in various ways. Throughout my years of taking this, I&apos;ve picked up many skills that I&apos;m proud to showcase. I also really adore the fine arts and good coffee.</string>
		<key>6</key>
		<string>williams_s_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>williams_s.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10024</key>
	<dict>
		<key>0</key>
		<string>4144:10024</string>
		<key>1</key>
		<string>Movie Poster</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Jasmine Solis</string>
		<key>5</key>
		<string>For the past four years, I&apos;ve been a student in the Graphic Design field. Coming into the field I didn&apos;t know much about any Adobe programs, but as time went on I&apos;ve learned new skills to show my creativity. Although I may not being continuing in this field, I&apos;m glad to have taken such an interesting course.</string>
		<key>6</key>
		<string>solis_jas_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>headshot-placeholder</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10025</key>
	<dict>
		<key>0</key>
		<string>4144:10025</string>
		<key>1</key>
		<string>Scent of Autumn</string>
		<key>2</key>
		<string>Colored Pencils</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Kayleen Acosta</string>
		<key>5</key>
		<string>I plan on carving my own journey towards becoming a video game artist and securing a position as such in Japan. My lifelong journey will take its full commencement upon the moment I enter the Computer Animation program at the School of Visual Arts in New York. As my heart is set out to begin this risky journey, I am proud to have spent it as a PCTI Bulldog.</string>
		<key>6</key>
		<string>acosta_k_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>acosta_k.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10026</key>
	<dict>
		<key>0</key>
		<string>4144:10026</string>
		<key>1</key>
		<string>Typography Self-Portrait</string>
		<key>2</key>
		<string>Illustrator</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Sofia Adragna</string>
		<key>5</key>
		<string>The moment in which I begin to make my art, my mind wanders off. It all begins with the first touch. Before you know it you come up with something you didn&apos;t even know you were thinking about. The art shown expresses your emotions. It gives you a sense of realization as if you are awakening and recognize where you are and where you want to be in life.</string>
		<key>6</key>
		<string>adragna_s_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>adragna_s.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10027</key>
	<dict>
		<key>0</key>
		<string>4144:10027</string>
		<key>1</key>
		<string>Elephant</string>
		<key>2</key>
		<string>Ink – Watercolor</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Andrea Alvarez</string>
		<key>5</key>
		<string>My ultimate goal is to end up doing merchandising, marketing, or management in the fashion industry. I am beyond excited to further my education at the Fashion Institute of Technology in NYC. Studying in one of the major fashion capitols of the world will provide me with amazing industry connections that will aid me to succeed in the future. </string>
		<key>6</key>
		<string>alvarez_a_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>alvarez_a.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10028</key>
	<dict>
		<key>0</key>
		<string>4144:10028</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Daisy Angeles</string>
		<key>5</key>
		<string>When I was a child, I always wanted to do something epic. I wanted to create. Films and graffiti art inspired me. And that’s when I found my calling. My passion for the arts grew stronger and stronger, so I decided to make it a hobby. As I graduate I will pursue my dream in becoming a special effects make-up artist for feature film and television.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>angeles_d.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10029</key>
	<dict>
		<key>0</key>
		<string>4144:10029</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Melanie Arrazola</string>
		<key>5</key>
		<string>Ever since I could remember, I loved to draw. Everywhere I went, my mother had to bring paper and crayons because all I wanted to do was create my own masterpiece. I never thought now, being a senior in high school, I would still have the love for art and now making it a part of my career. I am pursuing these dreams at my dream school, Pace University, majoring in Art History and Graphic Design.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>arrazola_m.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10030</key>
	<dict>
		<key>0</key>
		<string>4144:10030</string>
		<key>1</key>
		<string>Femme Fatale</string>
		<key>2</key>
		<string>Ink</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Masuma Begum</string>
		<key>5</key>
		<string>It’s shocking to know that I never really got into art until the end of middle school. Ever since then, art has taken over every factor of my life. Every day I thank the unknown forces of this world for exposing me to art, for it shaped me into who I am today. Art is still a relevant factor in my life, especially in my decisions upon my future. I plan to become a video game artist and make my mark upon the world.</string>
		<key>6</key>
		<string>begum_m_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>begum_m.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10031</key>
	<dict>
		<key>0</key>
		<string>4144:10031</string>
		<key>1</key>
		<string>Patriotic</string>
		<key>2</key>
		<string>Color Pencil</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Cesar Campos</string>
		<key>5</key>
		<string>Art has always been a part of my life. Ever since I could remember, I always had a pencil in my hand and was doodling something. I became a part of PCTI after many moves, and the Advertising Art shop. I quickly needed to step up my game because all my classmates are wonderful at art. I understood more about illustrating and graphics because of this school and the great shop teachers in it.</string>
		<key>6</key>
		<string>campos_c_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>campus_c.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10032</key>
	<dict>
		<key>0</key>
		<string>4144:10032</string>
		<key>1</key>
		<string>Caravaggio Master Study</string>
		<key>2</key>
		<string>Chalk Pastel</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Raul Castaneda</string>
		<key>5</key>
		<string>For as long as I can remember, I have been fascinated by the arts. The fine arts have had a major impact on my life. I grew up in love with the works of DC Comics and a couple of manga artists. My young passion for comics is what pushed me forward to wanting to become a comic illustrator. Although I am not decided on which college I will go to, I will not stop until all of my goals are accomplished.</string>
		<key>6</key>
		<string>castaneda_r_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>castaneda_r.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10033</key>
	<dict>
		<key>0</key>
		<string>4144:10033</string>
		<key>1</key>
		<string>Ultron</string>
		<key>2</key>
		<string>Prismacolor Markers</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Mario De La Cruz</string>
		<key>5</key>
		<string>Long ago, when I was just a boy, I always loved to create art. Growing up, I was mostly by myself and just carried my sketchbook with me, drawing whatever came to mind. Now 19 years old, I still love creating art and trying to make art my career in life. I will continue practicing my art at Montclair State University majoring in Illustration/Animation. </string>
		<key>6</key>
		<string>delacruz_m_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>delacruz_m.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10034</key>
	<dict>
		<key>0</key>
		<string>4144:10034</string>
		<key>1</key>
		<string>Beauty School Drop Out</string>
		<key>2</key>
		<string>Oil Pastels</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Bethany Diaz</string>
		<key>5</key>
		<string>Ever since I was a little girl, movies have influenced me in a huge way. I love movies especially because it combines so many of them together. Today, I aspire to become a filmmaker myself. My dream is to be an artist for Disney Animation and to later become a director for animated films. I will be majoring in Illustration at the Ringling College of Art and Design in Sarasota, Florida.  </string>
		<key>6</key>
		<string>diaz_b_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>diaz_b.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10035</key>
	<dict>
		<key>0</key>
		<string>4144:10035</string>
		<key>1</key>
		<string>Moonlight Path</string>
		<key>2</key>
		<string>Acrylic</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Destiny Garcia</string>
		<key>5</key>
		<string>I’ve been drawing little doodles all my life. As I got older, I spent countless hours in my room drawing with music blasting and the world shut out. My art helps me escape and fills me with happiness. Whenever I need a smile or inspiration, art has been my solution. I’m happy to announce that I will be attending Montclair majoring in the School of Fine Arts.</string>
		<key>6</key>
		<string>garcia_d_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>garcia_d.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10036</key>
	<dict>
		<key>0</key>
		<string>4144:10036</string>
		<key>1</key>
		<string>Pacific Rim</string>
		<key>2</key>
		<string>Digital Painting</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Ashley Gonzalez</string>
		<key>5</key>
		<string>From the stroke of a pencil, swiftly moving in each direction, I found myself in tune with artistry. It soothes my mind and enlightens my senses. It&apos;s intriguing how the creative process is in order to make a product. Now I’m 18 years old pursuing Industrial Design at Montclair State University.</string>
		<key>6</key>
		<string>gonzalez_a_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>gonzalez_a.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10037</key>
	<dict>
		<key>0</key>
		<string>4144:10037</string>
		<key>1</key>
		<string>Bipolar Disorder</string>
		<key>2</key>
		<string>Mix Media</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Lowenky Troncoso</string>
		<key>5</key>
		<string>When I draw, I tell a story. It is a silent film, and you know what is going on from beginning to end. I draw what I feel and it is my way to escape, to pull you in, grabbing your attention, and showing you me—who I am, where I come from, what I have been through, and who I want to become. Drawing is a part of me, and I will continue to tell you my story.</string>
		<key>6</key>
		<string>troncoso_l_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>troncoso_l.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10038</key>
	<dict>
		<key>0</key>
		<string>4144:10038</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Ray Tapia</string>
		<key>5</key>
		<string>During my early years in elementary school, art caught my eye. When I went home I would spend an hour learning several anatomy sketches. In middle school my view of art grew wider and I became more confident in what I did. Now that I finished my studies in PCTI, I will continue it at Passaic County Community College.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>tapia_r.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10039</key>
	<dict>
		<key>0</key>
		<string>4144:10039</string>
		<key>1</key>
		<string>Winter Storm</string>
		<key>2</key>
		<string>Prismacolor</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Tyree Watson</string>
		<key>5</key>
		<string>When I was in preschool, I wanted to be a train conductor. I loved trains, and my favorite show was Thomas. I loved it so much that I started drawing him. After a while, I began to draw more trains and more pictures until I realized I loved art more than trains. Ever since then, I began expanding my interest, my skill, my passion. I love art to this day, and PCTI helped cultivate that passion.</string>
		<key>6</key>
		<string>watson_t_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>watson_t.jpg</string>
		<key>9</key>
		<string>aa_banner</string>
	</dict>
	<key>4144:10040</key>
	<dict>
		<key>0</key>
		<string>4144:10040</string>
		<key>1</key>
		<string>Polygonal Portrait</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Maiya Brown</string>
		<key>5</key>
		<string>Hi! I’m a senior Graphic Design student at PCTI. In the fall of 2016, I will be attending Passaic Community College of Design to pursue my degree in Graphic Design. Graphic Arts taught me a lot and it’s amazing how I can take my ideas and create something out of it in Graphic Design. Graphic Design is so important today I believe and I would love to pursue more into it.</string>
		<key>6</key>
		<string>brown_m_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>brown_m.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10041</key>
	<dict>
		<key>0</key>
		<string>4144:10041</string>
		<key>1</key>
		<string>Optima</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Kevin Cruz</string>
		<key>5</key>
		<string>Hey! I hope you enjoy the art that I created and I hope you enjoy the rest of the art.</string>
		<key>6</key>
		<string>cruz_k_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>cruz_k.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10042</key>
	<dict>
		<key>0</key>
		<string>4144:10042</string>
		<key>1</key>
		<string>Robot</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Ismael Lopez</string>
		<key>5</key>
		<string>I am a Graphic Arts 4 student at PCTI. Some of my work may include video game characters, mainly Nintendo. I do this to show I can hand in a great “piece of work” with my favorite game company represented on it somewhere. That’s also what I want to do, work for Nintendo, but that’s just a dream. In the meantime, I will do personal work to improve my Adobe skills.</string>
		<key>6</key>
		<string>lopez_i_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>lopez_i.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10043</key>
	<dict>
		<key>0</key>
		<string>4144:10043</string>
		<key>1</key>
		<string>Inanimate Object Gallery</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Michelle Lorduy</string>
		<key>5</key>
		<string>Senior Graphic Design student. Over the course of these past three years, I’ve been influenced by 70’s and early 80’s design styles and color schemes, refined by the sleek, clean modern lines and symmetry. I plan on attending New Jersey City University where I will pursue a degree in Graphic Design. Or the Cooper Union.* 
                
                *If I get accepted by the time you read this.</string>
		<key>6</key>
		<string>lorduy_m_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>lorduy_m.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10044</key>
	<dict>
		<key>0</key>
		<string>4144:10044</string>
		<key>1</key>
		<string>Polygonal Portrait</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Nicole Lostaunau</string>
		<key>5</key>
		<string>I am a senior Graphic Design student at PCTI. I mainly work on illustrations/vector art, but I’m certainly capable of doing other types of mixed media. In the fall of 2016, I will be attending William Paterson University to pursue my degree for animation. My goal is to be able to work at Cartoon Network and pitch my own orginal cartoon for the world to see.</string>
		<key>6</key>
		<string>lostaunau_n_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>lostaunau_n.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10045</key>
	<dict>
		<key>0</key>
		<string>4144:10045</string>
		<key>1</key>
		<string>Polygonal Portrait</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Khoran Muhammad</string>
		<key>5</key>
		<string>My name is Khoran Muhammad and I am a student at Passaic County Technical Institute. I am enthused to be in this year’s art show because I get to showcase the work I’ve done for the first time. This is my senior year in high school so I would want to end it proudly. I’ve had a lot of experience and guidance throughout my four years of being a Graphic Arts student, and I feel this is the way to show my recognition.</string>
		<key>6</key>
		<string>muhammad_k_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>muhammad_k.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10046</key>
	<dict>
		<key>0</key>
		<string>4144:10046</string>
		<key>1</key>
		<string>Watch</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Skylynn Padilla</string>
		<key>5</key>
		<string>Hi! I am a senior Graphic Design student at PCTI. In the fall of 2016, I will be attending Berkeley College, pursuing my degree in Graphic Design. The feeling I get when an idea pops into my head and I draw it out is amazing, but the best feeling is when I actually bring it to life on the computer. Being able to do things on a computer that most people cannot is something I never imagined doing.</string>
		<key>6</key>
		<string>padilla_s_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>padilla_s.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10047</key>
	<dict>
		<key>0</key>
		<string>4144:10047</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Eunique Rivera</string>
		<key>5</key>
		<string>Hello. I am a senior at PCTI who is in the Graphic Design workshop. My work has no boundaries. I am very flexible with design styles, but enjoy more of the “dark side” of design, more of traditional gothic design and more comic style. I do, however, mix in my style of design with others to give it a new, unique look and I’m open to opinons and tweaks. I also enjoy freelancing. In college, I plan on furthering my design knowledge and pursue advertising art as well to help widen my view and passion for art. </string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>rivera_e.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10048</key>
	<dict>
		<key>0</key>
		<string>4144:10048</string>
		<key>1</key>
		<string>Watch</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>David Rodriguez</string>
		<key>5</key>
		<string>Hello! I’m a senior attending PCTI’s Graphic Arts program and I hope you enjoy what I’ve created. Inspired by modern and abstract art, I tend to use lots of contrast and color, although personally I enjoy order and organziation. My mind wanders often, which is the reason I think I enjoy abstract and modern art compared to classic and traditional pieces.</string>
		<key>6</key>
		<string>rodriguez_d_art</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>rodriguez_d.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10049</key>
	<dict>
		<key>0</key>
		<string>4144:10049</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Justin Sosa</string>
		<key>5</key>
		<string>I am a senior Graphic Design student at PCTI. My work is a mix of limited skills in Adobe Photoshop, Illustrator, and InDesign. I like my work to show how I think and feel. Also I like my work to help others visualize who Justin Sosa is.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>sosa_j.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10050</key>
	<dict>
		<key>0</key>
		<string>4144:10050</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Karan Shora</string>
		<key>5</key>
		<string>I am a senior in Graphic Design, and I aspire to major in medical in the future. I plan to use the knowledge to help me advocate myself in the future and to get on the job market. I am trained in Adobe Photoshop, Indesign, Illustrator, and currently learning Dreamweaver. I hope to become a successful individual that will one day impact the world greatly in a beneficial way.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>shora_k.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
    <key>4144:10051</key>
    <dict>
        <key>0</key>
        <string>4144:10051</string>
        <key>1</key>
        <string>Helvetica</string>
        <key>2</key>
        <string>-</string>
        <key>3</key>
        <string>-</string>
        <key>4</key>
        <string>Jia Hang Zhang</string>
        <key>5</key>
        <string>I am a senior Graphic Design student at PCTI. My work consists mainly of Graphic Design and a bit of traditional/digital on the side, which I am still trying to learn. In the fall of 2016, I will be attending Rutgers Mason Gross School of Visual Arts. I also plan to do some freelancing to make some money during my time in college to help pay for my books. </string>
        <key>6</key>
        <string>zhang_j_art</string>
        <key>7</key>
        <string>Fit</string>
        <key>8</key>
        <string>zhang_j.jpg</string>
        <key>9</key>
        <string>ga_banner</string>
    </dict>
    <key>4144:10052</key>
    <dict>
        <key>0</key>
        <string>4144:10052</string>
        <key>1</key>
        <string>Robot</string>
        <key>2</key>
        <string>-</string>
        <key>3</key>
        <string>-</string>
        <key>4</key>
        <string>Alexia Morgan</string>
        <key>5</key>
        <string>Hi, I am senior Graphic Design student at PCTI. Over the course of these past three years, I’ve been influenced by 30’s design styles and color schemes, refined by the steampunk art style. I plan on attending the University of Hartford, where I will pursue a degree in Media Communications. At least, I hope so — if not, PCCC is cool too.</string>
        <key>6</key>
        <string>morgan_a_art</string>
        <key>7</key>
        <string>Fit</string>
        <key>8</key>
        <string>morgan_a.jpg</string>
        <key>9</key>
        <string>ga_banner</string>
    </dict>
    <key>4144:10053</key>
    <dict>
        <key>0</key>
        <string>4144:10053</string>
        <key>1</key>
        <string>Octopotamus</string>
        <key>2</key>
        <string>-</string>
        <key>3</key>
        <string>-</string>
        <key>4</key>
        <string>Laura Feliz</string>
        <key>5</key>
        <string>Senior Graphic Design student. During my years in this Graphic Arts program, I have learned many skills and techniques that have greatly improved my design process. The opportunity to work as a Graphic Arts Co-op student has given me real life experience on how to work with clients. I plan on attending The College of New Jersey in the fall.</string>
        <key>6</key>
        <string>feliz_l_art</string>
        <key>7</key>
        <string>Fit</string>
        <key>8</key>
        <string>feliz_l.jpg</string>
        <key>9</key>
        <string>ga_banner</string>
    </dict>
    <key>4144:10054</key>
    <dict>
        <key>0</key>
        <string>4144:10054</string>
        <key>1</key>
        <string>Robot</string>
        <key>2</key>
        <string>-</string>
        <key>3</key>
        <string>-</string>
        <key>4</key>
        <string>Julian Solis</string>
        <key>5</key>
        <string>Hello, my name is Julian Solis, and I am a student at PCTI. My field is Graphic Design, where my time is spent doing what I enjoy, which specifically is showing my creativity throughout all the forms that this field grants me. My plans are to develop my skills and character as I proceed into college, where I will then continue forward with this field.</string>
        <key>6</key>
        <string>solis_j2_art</string>
        <key>7</key>
        <string>Fit</string>
        <key>8</key>
        <string>solis_j2.jpg</string>
        <key>9</key>
        <string>ga_banner</string>
    </dict>
</dict>
</plist>
