<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>x:x</key>
	<dict>
		<key>0</key>
		<string>x:x</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string> </string>
		<key>4</key>
		<string>-</string>
		<key>5</key>
		<string> </string>
		<key>6</key>
		<string>placeholder.png</string>
		<key>7</key>
		<string>Fit</string>
		<key>8</key>
		<string>headshot-placeholder</string>
		<key>9</key>
		<string>placeholder.png</string>
	</dict>
	<key>4144:10006</key>
	<dict>
		<key>0</key>
		<string>4144:10006</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Doitsu A. Aguilar</string>
		<key>5</key>
		<string>My name is Doitsu A. Aguilar. Graphic Arts is a way to express yourself in a way that will create interest in the clients you want. You don&apos;t necessarily need to know how to draw in this field. You create something through technology. It&apos;s something I would love to do. Creating something that makes someone happy thanks to my artwork. That&apos;s the field I truly want to be in.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>headshot-placeholder</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10007</key>
	<dict>
		<key>0</key>
		<string>4144:10007</string>
		<key>1</key>
		<string>Optima</string>
		<key>2</key>
		<string>Illustrator</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Yaxsandra Barrera</string>
		<key>5</key>
		<string>My name is Yaxsandra Barrera. For the past four years, I have been a student in the Graphic Arts field. PCTI gave me the opportunity to learn very essential skills in Adobe Photoshop, Illustrator, and InDesign. With these skills, I am able to create designs to show the world. I hope to continue to expand my horizon and pursue my artistic dream.</string>
		<key>6</key>
		<string>barreraliranzo_y_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>barreraliranzo_y.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10008</key>
	<dict>
		<key>0</key>
		<string>4144:10008</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Johnathan J. Campoverde</string>
		<key>5</key>
		<string>My nickname is &quot;Campy&quot; and I am proud of what I have created in my highschool career. I love to think outside of the box and make pieces that no one else has created. Although my future consists of becoming a sailor in the U.S. Navy, I look to pursue the Graphic Arts lifestyle in years to come. I try to portray a message in my artwork and I hope to inspire many people who take a look.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>campoverde_j.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10009</key>
	<dict>
		<key>0</key>
		<string>4144:10009</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Maurice C. Clancy</string>
		<key>5</key>
		<string>I&apos;m an 18 year old aspiring graphic designer/artist. I&apos;ve been a graphic artist for 4 years, I started freshman year of high school and instantly fell in love. Here&apos;s some of my work from throughout the years.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>clancy_m.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10010</key>
	<dict>
		<key>0</key>
		<string>4144:10010</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Thomas R. Coldiron</string>
		<key>5</key>
		<string>For the past four years, I have been a student in the Graphic Design field. At first I didn&apos;t know anything about Graphic Arts but once I started learning it in high school it opened up my imagination to the different fields and career choices that you can have in this field. I hope to continue on and learn and understand more about Graphic Arts to futher my future career.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>coldiron_t.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10011</key>
	<dict>
		<key>0</key>
		<string>4144:10011</string>
		<key>1</key>
		<string>Movie Poster</string>
		<key>2</key>
		<string>Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Nasier J. Cox</string>
		<key>5</key>
		<string>Imagination, exploration, and creativity are the words that come to mind when talking about art. I am a four year student of the Graphic Design field. I was introduced to art at a very young age, when I was taking art classes in middle school. That&apos;s when I first picked up a pencil and paper, drawing my imagination. Graphic design has helped me explore my intellect and creativity.</string>
		<key>6</key>
		<string>cox_n_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>cox_n.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10012</key>
	<dict>
		<key>0</key>
		<string>4144:10012</string>
		<key>1</key>
		<string>Storm the Tower</string>
		<key>2</key>
		<string>Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Dylan F. Dixon</string>
		<key>5</key>
		<string>I have been practicing in the Graphic Arts field for a total of four years. I take pride in my work. Using the Graphic Arts design shop that Passaic County Technical Institute offered me, I made sure to make use of my time and utilize all of the skills that I have learned in Adobe Photoshop, Illustrator, and InDesign.</string>
		<key>6</key>
		<string>dixon_d_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>dixon_d.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10013</key>
	<dict>
		<key>0</key>
		<string>4144:10013</string>
		<key>1</key>
		<string>El Matador</string>
		<key>2</key>
		<string>Photoshop – Illustrator</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Donato Hernandez</string>
		<key>5</key>
		<string>Being a Graphic Design student in this school for four years has taught me a lot about how creative I can be. From learning the basics of Photoshop to making designs in Illustrator I am proud to say that I made a good choice coming to PCTI and using this opportunity. Even though I&apos;m enlisitng in the military, I would consider this as a career choice in the future.</string>
		<key>6</key>
		<string>hernandez_d_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>hernandez_d.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10014</key>
	<dict>
		<key>0</key>
		<string>4144:10014</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Cristal Martinez</string>
		<key>5</key>
		<string>For as long as I could remember, I&apos;ve always had a passion for art. For the past four years, I&apos;ve been working towards my goal of going to art school by taking Graphic Arts classes in school everyday. Although what I really want to be is a photgrapher, Graphic Arts has given me the opportunity to showcase my creativity and work ethic.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>headshot-placeholder</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10015</key>
	<dict>
		<key>0</key>
		<string>4144:10015</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Justin B. Miller</string>
		<key>5</key>
		<string>My name is Justin Miller. Here is a display of some of the work I have created over the span of my four years learning of graphic design. I would go on to use graphics in a way to portray a business image, to show my business side of thinking. I hope you enjoy the time and effort I put into my artwork.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>miller_j.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10016</key>
	<dict>
		<key>0</key>
		<string>4144:10016</string>
		<key>1</key>
		<string>Thinking Too Hard</string>
		<key>2</key>
		<string>Illustrator</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Ronny Montilla</string>
		<key>5</key>
		<string>-</string>
		<key>6</key>
		<string>montilla_r_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>montilla_r.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10017</key>
	<dict>
		<key>0</key>
		<string>4144:10017</string>
		<key>1</key>
		<string>Dojo</string>
		<key>2</key>
		<string>Illustrator – Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Shantayah I. Murray</string>
		<key>5</key>
		<string>I have been a student of Graphic Design for the past four years. I&apos;ve acquired a lot of knowledge that I can utilize to inspire people. Although I can&apos;t say for sure that I will pursue graphic arts as a career, the things I&apos;ve learned will aid me in the art of my choice. PCTI&apos;s Grade-A training has led me on a path to success.</string>
		<key>6</key>
		<string>murray_s_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>murray_s.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10018</key>
	<dict>
		<key>0</key>
		<string>4144:10018</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Javier Ortega</string>
		<key>5</key>
		<string>My name is Javier Ortega. I am a student at PCTI studying Graphic Arts. My dream is that I would become an amazing artist. I have a great love for art. PCTI has already provided me with quality training in Adobe programs such as Photoshop, Illustrator, and InDesign that I will use for my future as a graphic artist. Hopefully, my art will be able to inspire people to spark an interest in Graphic Arts.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>headshot-placeholder</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10019</key>
	<dict>
		<key>0</key>
		<string>4144:10019</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Nikita S. Pace</string>
		<key>5</key>
		<string>From when I could remember I have always loved art, from the way it looked to me and what it expressed within it. It always intrigued me how people could do such beautiful artwork. When I do my own art, I put a piece of myself in it and put my all so that I can show what skills I have. One day I want to be able to do this professionally as a career. PCTI has given me many skills.</string>
		<key>6</key>
		<string>-</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>pace_n.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10020</key>
	<dict>
		<key>0</key>
		<string>4144:10020</string>
		<key>1</key>
		<string>Clothing Tag</string>
		<key>2</key>
		<string>Photoshop – Sketch Pad</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Devin M. Savoie</string>
		<key>5</key>
		<string>I have been a student at PCTI in the Graphic Arts shop for 4 years and have experienced many different varieties of projects. I personally enjoy listening to rap music, playing video games, both for leisure and competitively, and hanging out with friends. While I am not sure if Graphic Arts is the field for me, I am always open to the possibility.</string>
		<key>6</key>
		<string>savoie_d_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>savoie_d.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10021</key>
	<dict>
		<key>0</key>
		<string>4144:10021</string>
		<key>1</key>
		<string>Something is Missing</string>
		<key>2</key>
		<string>Illustrator</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Catlyn D. Smith</string>
		<key>5</key>
		<string>A few years ago, I developed an interest in art. Coming into high school, I was able to finally begin my journey in art. Art to me is like a platform to express yourself through different pieces. I plan to continue Graphic Design in college. Hopefully my work will advance with me so I can possibly find a career in this field.</string>
		<key>6</key>
		<string>smith_c_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>smith_c.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10022</key>
	<dict>
		<key>0</key>
		<string>4144:10022</string>
		<key>1</key>
		<string>Clothing Tag</string>
		<key>2</key>
		<string>Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Jarryn B. Solis</string>
		<key>5</key>
		<string>I have been a student attending the Graphic Design field in my years at PCTI. At my time here in this course, I have trained my skills at Adobe programs such as Photoshop, Illustrator, and InDesign. I am aspiring to become a brilliant artist, capable of producing work that will not only captivate consumers, but inspire them as well.</string>
		<key>6</key>
		<string>solis_j_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>solis_j.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10023</key>
	<dict>
		<key>0</key>
		<string>4144:10023</string>
		<key>1</key>
		<string>Garamond</string>
		<key>2</key>
		<string>Illustrator – Photoshop</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Shiavona J. Williams</string>
		<key>5</key>
		<string>Hey! I&apos;m Shai and I study Graphic Arts. I really enjoy the field I&apos;m working in because it allows me to express my creativity in various ways. Throughout my years of taking this, I&apos;ve picked up many skills that I&apos;m proud to showcase. I also really adore the fine arts and good coffee.</string>
		<key>6</key>
		<string>williams_s_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>williams_s.jpg</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
	<key>4144:10024</key>
	<dict>
		<key>0</key>
		<string>4144:10024</string>
		<key>1</key>
		<string>-</string>
		<key>2</key>
		<string>-</string>
		<key>3</key>
		<string>-</string>
		<key>4</key>
		<string>Jasmin Solis</string>
		<key>5</key>
		<string>For the past four years, I&apos;ve been a student in the Graphic Design field. Coming into the field I didn&apos;t know much about any Adobe programs, but as time went on I&apos;ve learned new skills to show my creativity. Although I may not being continuing in this field, I&apos;m glad to have taken such an interesting course.</string>
		<key>6</key>
		<string>solis_jas_art</string>
		<key>7</key>
		<string>Fill</string>
		<key>8</key>
		<string>headshot-placeholder</string>
		<key>9</key>
		<string>ga_banner</string>
	</dict>
</dict>
</plist>
